html {
    background-color: rgba(185, 185, 185, 0.1);
    /* background-color: #fff; */
}

body {
    font-family: custom6;
    background-color: #093145;
    color: #f2f3f4;
}

.imglogo {
    max-width: 125px;
    max-height: 125px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.fontlogo {
    text-align: center;
    font-family: custom7;
    font-size: 30px;
}

.footerfont {
    clear: both;
    display: block;
    padding: 7px 0 7px 0;
    text-align: center;
    font-family: custom7;
    font-size: 18px;
    color: #f2f3f4;
}

.backgrounddiv {
    background-color: #efd469;
}

.backgrounddiv2 {
    background-color: #3c6478;
    color: white;
    border-radius: 5px;
}

.container {
    width: 88%;
    height: auto;
    margin: auto;
    padding: 20px;
    /* background-color: red; */
}

.pagecontainer {
    width: auto;
    height: auto;
    padding: 10px;
    text-align: justify;
    align-content: center;
    display: block;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rebeccapurple; */
}

.maincontainer {
    margin: 5px auto;
    width: 80%;
    height: auto;
    /* background-color: burlywood; */
}

.topnav {
    overflow: hidden;
    background-color: #efd469;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    font-family: custom4;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.topnav a {
    float: right;
    display: block;
    color: #373d3f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #bca136;
    color: black;
}

.topnav .icon {
    display: none;
}

div.desc {
    padding: 3px;
    text-align: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div.maincontainer hr {
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 5px;
    opacity: 0.5;
    margin: 20px 0px 20px 0px;
}

div.pagecontainer p {
    text-align: center;
    font-size: 40px;
    font-family: custom4;
}

.imgprofile {
    max-width: 35%;
    max-height: 35%;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

div.topnav p {
    float: left;
    color: white;
    font-family: custom7;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.topnav-centered a {
    float: none;
    text-align: center;
    display: inline-block;
}

.inputtext {
    font-family: custom4;
    font-size: 20px;
}

.btncontainer {
    width: 100%;
    text-align: center;
    font-size: 17px;
    margin-top: 40px;
    padding: 10px;
    background-color: #093145;
    color: efd469;
    border: 0px;
    border-radius: 25px;
}

.btncontainer:hover {
    background-color: #bca136;
    color: #373d3f;
    border: 0px;
    font-weight: bolder;
}

.imglogofooter {
    max-width: 55px;
    max-height: 55px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

a.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.backgrounddiv2btn {
    font-family: custom4;
    font-size: 20px;
    border: 0px;
    background: none;
    color: white;
    height: 8%;
}

.backgrounddiv2btn:hover {
    background-color: rgb(160, 160, 160);
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.form-border {
    background: -webkit-linear-gradient(right, #8a8a8a, #363636);
    height: 1px;
    width: 100%;
}

.form-content {
    border: none;
    outline: none;
    padding: 14px 14px 5px 5px;
}

#card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    max-height: 450px;
    height: 100%;
    margin: 6rem auto 8.1rem auto;
    max-width: 500px;
    width: 100%;
    margin-top: 5%;
}

#card-content {
    font-size: 17px;
    font-family: custom4;
    padding: 15px 45px;
    padding-top: 7%;
    color: black;
    font-weight: bold;
}

.textinsidecard {
    font-size: 15px;
    text-align: center;
}


/* RULES */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive a {
        position: sticky;
        top: 0;
        float: none;
        display: inline-block;
        text-align: left;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 500px) {
    .maincontainer,
    #card {
        width: auto;
        height: auto;
        padding: 1px;
        text-align: justify;
        align-content: center;
        display: block;
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 500px) {
    .maincontainer,
    #card {
        width: auto;
        height: auto;
        padding: 1px;
        text-align: justify;
        align-content: center;
        display: block;
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
    }
}


/* FONTS */

@font-face {
    font-family: custom1;
    src: url('../fonts/AlexBrush-Regular.ttf');
}

@font-face {
    font-family: custom2;
    src: url('../fonts/Amatic-Bold.ttf');
}

@font-face {
    font-family: custom3;
    src: url('../fonts/AmaticSC-Regular.ttf');
}

@font-face {
    font-family: custom4;
    src: url('../fonts/delius-regular.ttf');
}

@font-face {
    font-family: custom5;
    src: url('../fonts/GloriaHallelujah.ttf');
}

@font-face {
    font-family: custom6;
    src: url('../fonts/KOMTXTKB.ttf');
}

@font-face {
    font-family: custom7;
    src: url('../fonts/Solway-Regular.otf');
}

@font-face {
    font-family: custom8;
    src: url('../fonts/SomeTimeLater.otf');
}

@font-face {
    font-family: custom9;
    src: url('../fonts/TAGACNB_.ttf');
}